CASE -

We are going to predict whether a credid card transaction is legit or fraud.

WORK FLOW - 

Credit card data

Data Pre Processing

Data Analysis

Train Test Split

Logistic Regression Model

Model Evaluation

Predictive System

Importing necessary libraries

In [1]:
import pandas as pd
import numpy as np
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
# Importing the dataset

data = pd.read_csv(r'C:\Users\SHREE\Downloads\Python CODES\Credit Card Fraud Detection Using Logistic Regression\creditcard.csv')
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
# Data information

data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [4]:
# Checking number of missing values in each column

data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [5]:
# Checking distribution of class column

data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

This is highly imbalanced data set

0 --> Legit Transaction

1 --> Fraudulent Transaction

In [6]:
# Separating the data for analysis

legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [7]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [8]:
# Statistical measure of data

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [9]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [10]:
# Compare the values for both transaction

data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

Under - Sampling : (For imbalanced data)

Build a sample dataset containing similar distribution of Legit Transaction & Fraud Transaction. We are going to take 492 Random Transactions from Legit Transactions then we are going to join them with Fraud Transactions. We will have 492 Legit Transaction & 492 Fraud Transaction. It will have uniform distribution & give better predictions.

Fraud Transactions --> 492

In [11]:
legit_sample = legit.sample(n = 492)

Concanating 2 DataFrames (Joining)

In [14]:
new_data = pd.concat([legit_sample, fraud], axis = 0)

In [15]:
new_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
129091,78947.0,-0.546642,0.605053,2.674286,3.101756,-0.115320,0.721509,-0.368633,0.409417,-0.852182,...,-0.002247,0.129724,0.001348,0.339885,-0.534197,0.076037,0.187855,0.158245,6.80,0
95406,65290.0,1.159691,0.190668,-0.095110,0.507473,-0.136206,-1.086329,0.482431,-0.289472,-0.588815,...,0.070475,0.128263,-0.141804,0.605722,0.612759,0.498335,-0.080512,-0.000283,49.58,0
183948,126030.0,1.800042,-1.066904,-0.665189,-1.452101,-1.072295,-0.929557,-0.493666,-0.122732,1.808994,...,0.346440,0.989511,0.014197,0.147575,-0.181815,-0.192890,0.009792,-0.031449,118.00,0
206289,136152.0,-15.329347,1.517809,-10.115838,0.970134,-3.900967,-0.288366,2.156707,1.233429,6.325787,...,-2.261459,-0.176708,-2.427285,0.424000,0.933384,-0.787926,-0.262810,2.292313,144.00,0
280552,169598.0,-0.677115,0.430594,0.594985,-0.789533,0.905697,-0.778302,0.703392,-0.017910,-0.254746,...,-0.190729,-0.646702,-0.137254,-0.368643,-0.467558,0.150765,-0.030846,0.116550,9.99,0

In [17]:
# Checking distribution of data

new_data['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [19]:
# Checking whether we got a good sample or bad sample, in case if we got a bad sample then the mean values will be very different

new_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,96566.006098,0.025768,0.038527,-0.007953,-0.021766,-0.023644,-0.021802,-0.010172,0.001689,0.046897,...,0.028557,0.026704,-0.028209,0.016751,0.024359,-0.009342,0.003173,0.003860,0.019661,85.175711
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
# From above distribution of class values by comparing with previous values we can say that nature of dataset have not changed 
#& the difference is still there & our model will predict with good accuracy

Splitting the Data into Features & Target

In [21]:
x = new_data.drop(columns = 'Class', axis =1)
y = new_data['Class']

In [22]:
print(x)

            Time         V1        V2         V3        V4        V5  \
129091   78947.0  -0.546642  0.605053   2.674286  3.101756 -0.115320
95406    65290.0   1.159691  0.190668  -0.095110  0.507473 -0.136206
183948  126030.0   1.800042 -1.066904  -0.665189 -1.452101 -1.072295
206289  136152.0 -15.329347  1.517809 -10.115838  0.970134 -3.900967
280552  169598.0  -0.677115  0.430594   0.594985 -0.789533  0.905697
...          ...        ...       ...        ...       ...       ...
279863  169142.0  -1.927883  1.125653  -4.518331  1.749293 -1.566487
280143  169347.0   1.378559  1.289381  -5.004247  1.411850  0.442581
280149  169351.0  -0.676143  1.126366  -2.213700  0.468308 -1.120541
281144  169966.0  -3.113832  0.585864  -5.399730  1.817092 -0.840618
281674  170348.0   1.991976  0.158476  -2.583441  0.408670  1.151147

              V6        V7        V8        V9  ...       V20       V21  \
129091  0.721509 -0.368633  0.409417 -0.852182  ...  0.222962 -0.002247
95406  -1.086329  0.482431 -0.289472 -0.588815  ...  0.022276  0.070475
183948 -0.929557 -0.493666 -0.122732  1.808994  ...  0.084637  0.346440
206289 -0.288366  2.156707  1.233429  6.325787  ...  1.000485 -2.261459
280552 -0.778302  0.703392 -0.017910 -0.254746  ... -0.281635 -0.190729
...          ...       ...       ...       ...  ...       ...       ...
279863 -2.010494 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584
280143 -1.326536 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612
280149 -0.003346 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826
281144 -2.943548 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276
281674 -0.096695  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350

             V22       V23       V24       V25       V26       V27       V28  \
129091  0.129724  0.001348  0.339885 -0.534197  0.076037  0.187855  0.158245
95406   0.128263 -0.141804  0.605722  0.612759  0.498335 -0.080512 -0.000283
183948  0.989511  0.014197  0.147575 -0.181815 -0.192890  0.009792 -0.031449
206289 -0.176708 -2.427285  0.424000  0.933384 -0.787926 -0.262810  2.292313
280552 -0.646702 -0.137254 -0.368643 -0.467558  0.150765 -0.030846  0.116550
...          ...       ...       ...       ...       ...       ...       ...
279863 -0.319189  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968
280143  0.028234 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637
280149  0.834108  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361
281144 -0.269209 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700
281674 -0.295135 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309

        Amount
129091    6.80
95406    49.58
183948  118.00
206289  144.00
280552    9.99
...        ...
279863  390.00
280143    0.76
280149   77.89
281144  245.00
281674   42.53

[984 rows x 30 columns]

In [23]:
print(y)

129091    0
95406     0
183948    0
206289    0
280552    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

Splitting the Data into Train & Test

In [24]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size = 0.2, stratify = y, random_state = 2)

In [25]:
print(x.shape, x_train.shape, x_test.shape)

(984, 30) (787, 30) (197, 30)

Model Training

Logistic Regression

In [27]:
model = LogisticRegression()

In [28]:
# Training the logistic regression model with train data

model.fit(x_train, y_train)

C:\Users\SHREE\anaconda3\lib\site-packages\sklearn\linear_model\_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

LogisticRegression()

Model Evaluation

In [32]:
# Accuracy score on training data

x_train_predict = model.predict(x_train)
train_data_accuracy = accuracy_score(x_train_predict, y_train)
print('Accuracy Score on Training Data :', train_data_accuracy)

Accuracy Score on Training Data : 0.9440914866581956

In [33]:
# Accuracy score on testing data

x_test_predict = model.predict(x_test)
test_data_accuracy = accuracy_score(x_test_predict, y_test)
print('Accuracy Score on Testing Data :', test_data_accuracy)

Accuracy Score on Testing Data : 0.949238578680203

CONCLUSION -

Accuracy score of our model is very good & our model is not underfitted/overfitted. We can use this model for Prediction.

Predictive System

In [34]:
input_data = (1,-0.966271711572087,-0.185226008082898,1.79299333957872,-0.863291275036453,-0.0103088796030823,1.24720316752486,0.23760893977178,0.377435874652262,-1.38702406270197,-0.0549519224713749,-0.226487263835401,0.178228225877303,0.507756869957169,-0.28792374549456,-0.631418117709045,-1.0596472454325,-0.684092786345479,1.96577500349538,-1.2326219700892,-0.208037781160366,-0.108300452035545,0.00527359678253453,-0.190320518742841,-1.17557533186321,0.647376034602038,-0.221928844458407,0.0627228487293033,0.0614576285006353,123.5)

# Changing the input data to numpy array
input_data_as_numpy_array = np.asarray(input_data)

# Reshaping the array for one sample
input_data_reshape = input_data_as_numpy_array.reshape(1,-1)

prediction = model.predict(input_data_reshape)
print(prediction)

if (prediction[0] == 0):
    print('The Transaction is Legit')
else:
    print('The Transaction is Fraud')

[0]
The Transaction is Legit

C:\Users\SHREE\anaconda3\lib\site-packages\sklearn\base.py:450: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  warnings.warn(